<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Is Active</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let std of getAllStudent;
              let i = index;
              trackBy: trackByFun
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ std.fname }}</td>
            <td>{{ std.lname }}</td>
            <td>{{ std.email }}</td>
            <td>{{ std.contact }}</td>
            <td>{{std.isActive ? 'Yes' : 'No'}}</td>
            <td><button class="btn btn-sm btn-primary" (click)="onEditStudent(std)">Edit</button></td>
            <td><button class="btn btn-sm btn-danger" (click)="onRemovestudent(std.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
