<div class="row">
  <div class="col-md-6">
    <app-todo-form
      (emitNewTodo)="getNewTodo($event)"
      [getEditTodo]="editTodoObj"
      (emitUpdated)="getUpdaetdObj($event)"
    >
    </app-todo-form>
  </div>
  <div class="col-md-6" *ngIf="todoArr.length > 0; else noData">
    <app-todo-list
      [getAllTodos]="todoArr"
      (emitRemoveid)="getRemoveId($event)"
      (emitEditTodo)="getEditTodo($event)"
    ></app-todo-list>
  </div>
  <ng-template #noData>
    <p class="alert alert-info">No Data ...!</p>
  </ng-template>
</div>
