<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between"
        *ngFor="let todo of getAllTodos; trackby: trackByFun"
      >
        {{ todo.todoItem }}
        <small
          class="badge mr-5"
          [ngClass]="{
            'badge-success': todo.isCompleted,
            'badge-danger': !todo.isCompleted
          }"
          >{{ todo.isCompleted ? "Completes" : "Not-Completed" }}</small
        >

        <div >
          <button
            class="btn btn-sm btn-outline-primary mr-2"
            (click)="onEditTodo(todo)"
          >
            Edit
          </button>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onRemoveTodo(todo.todoId)"
          >
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
